<div class="interactive-wrapper">

	<div class="interactive-container">

		<h3>Predicted results</h3>

		<div class="interactive-component">

			<div id="election_results_table" class="column_wrapper"></div>

		</div>

		<div class="interactive-component">

			<strong class="red_swallow">National seats held prior to byelections</strong>

			<div id="election"></div>

			<strong class="red_swallow">Live predicted national outcome</strong>

			<div id="byelection"></div>

		</div>

		<div class="informational">
			
			<input type="checkbox" class="read-more-state" id="electro" />

				<div class="read-more-wrap">

					<span class="read-more-target">
					
			        <div class="key">
			            <ul>
			                <li><div data-partyname="alp" class="colour"></div> Labor</li>
			                <li><div data-partyname="ca" class="colour"></div> Centre Alliance</li>
			                <li><div data-partyname="grn" class="colour"></div> The Greens</li>
			                <li><div data-partyname="und" class="colour"></div> Undeclared</li>
			                <li><div data-partyname="ind" class="colour"></div> Independent</li>
			                <li><div data-partyname="kap" class="colour"></div> Katter</li>    
			                <li><div data-partyname="onp" class="colour"></div> One Nation</li>
			                <li><div data-partyname="nat" class="colour"></div> National</li>
			                <li><div data-partyname="lnp" class="colour"></div> Liberal National Party</li> 
			                <li><div data-partyname="lib" class="colour"></div> Liberal</li>                   
			            </ul>
			        </div>

			        <div class="election_notes">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rhoncus imperdiet ullamcorper. Nulla facilisi. Maecenas at tellus est. Morbi molestie lacus elit. Vivamus cursus est turpis, id dapibus neque semper at. Suspendisse elementum lacus varius, ultricies ex et, aliquet tortor.</div>

			    	</span>

				</div>

			<label for="electro" class="read-more-trigger"></label>

		</div>




		<div id="timeStamp" class="sidebar"></div>

	</div>

</div>