<div class="interactive-wrapper">

	<div class="interactive-container">

		<h3>Predicted results</h3>

		<div class="interactive-component">

			<div id="election_results_table" class="column_wrapper"></div>

		</div>

		<div class="interactive-component">

			<strong class="red_swallow">National seats: pre-byelections</strong>

			<div id="election"></div>

			<strong class="red_swallow">National seats: post-byelections</strong>

			<div id="byelection"></div>

		</div>

		<div id="timeStamp" class="sidebar"></div>

	</div>

</div>