@import "mq";

$seatstack-bp: tablet !default;
$seatstack-height: 25px !default;
$seatstack-2PP-height: 120px !default;
$seatstack-2PP-bar-height: 25px;
$seatstack-height-small: 25px;
$seatstack-top: 15px !default;

$partyColors: (
    lnp:    #075e91,
    coal:    #005689,
    nat:    #197caa,
    lib:    #005689,
    clp:    #005689,
    lp:    #005689,
    np:    #197caa,
    speaker:    #005689,
    grn:  #298422,
    alp:    #b51800,
    kap:  #b814d9,
    pup: #7D0069,
    nxt: #e6711b,
    xen: #e6711b,
    others: #B3B3B4,
    ind:    #B3B3B4,
    other:  #B3B3B4,
    onp: #ff9b0b,
    pending:    #dfdfdf
);

[data-partyname='alp'] { background-color: #b51800; color: #b51800; }
[data-partyname='grn'] { background-color: #298422; color: #298422; }
[data-partyname='ag'] { background-color: #298422; color: #298422; }
[data-partyname='ind'] { background-color: #B3B3B4; color: #B3B3B4; }
[data-partyname='Pending'] { background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAKklEQVQIW2N8+PDhGQYoOHnyJAMjTADEMTc3hwjAOCCFjKtWrToDkoEBAG1vFhyE06BwAAAAAElFTkSuQmCC) repeat; color: #B3B3B4; }
[data-partyname='pup'] { background-color: #7D0069; color: #7D0069; }
[data-partyname='kap'] { background-color: #b814d9; color: #b814d9; }
[data-partyname='lnp'] { background-color: #075e91; color: #075e91; }
[data-partyname='lib'] { background-color: #005689; color: #005689; }
[data-partyname='coal'] { background-color: #005689; color: #005689; }
[data-partyname='cln'] { background-color: #005689; color: #005689; }
[data-partyname='lp'] { background-color: #005689; color: #005689; }
[data-partyname='np'] { background-color: #197caa; color: #197caa; }
[data-partyname='clp'] { background-color: #005689; color: #005689; }
[data-partyname='nat'] { background-color: #197caa; color: #197caa; }
[data-partyname='nxt'] { background-color: #e6711b; color: #e6711b; }
[data-partyname='ca'] { background-color: #e6711b; color: #e6711b; }
[data-partyname='xen'] { background-color: #e6711b; color: #e6711b; }
[data-partyname='other'] { background-color: #b3b3b3; color: #b3b3b3; }
[data-partyname='onp'] { background-color: #ff9b0b; color: #ff9b0b; }
[data-partyname='phon'] { background-color: #6e191d; color: #6e191d; }

$arrowColorOverrides: (
    ld:  #ff920d,
    snp: #e6bd03,
);

@function partyColor($party) {
    @return map-get($partyColors, $party);
}

@function arrowColor($party) {
    @if map-has-key($arrowColorOverrides, $party) {
        @return map-get($arrowColorOverrides, $party);
    } @else {
        @return partyColor($party);
    }
}

.interactive-container h3 {
    font-family: "Guardian Headline", "Guardian Egyptian Web", "Guardian Headline Full", Georgia, serif;
    padding-left: 20px;
    padding-top: 20px;
}

.sidebar {
    font-size: 12px;
    line-height: 20px;
    font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    padding-left: 20px;
    box-sizing: border-box;
    color: #a9a9aa;
    margin-top: 20px;
    text-align: right;
    width: 100%;
    padding-right: 20px;
    padding-bottom: 20px;
}

#election, #byelection {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}
.seatstack {
    position: relative;
    clear: both;
    font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 12px;
}

.seatstack-2PP {
    .seatstack__majority {
        height: $seatstack-2PP-height;
        right: 0;
        top: -35px;
        width: 80%;
        &:after {
            top: 35px;
            height: $seatstack-2PP-height + 20;
        }
    }
}

.seatstack__summary {
    margin-top: 35px;
    position: relative;
}

.seatstack__detail {
    clear: both;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
}

.seatstack__majority {
    text-align: center;
    width: 100%;
    position: absolute;
    height: 40px;
    line-height: 40px;
    top: $seatstack-height;
    font-size: 16px;
    color: #767676;
    font-style: italic;
    &:after {
        content: '';
        border-left: 3px dotted #767676;
        position: absolute;
        height: $seatstack-height + 10;
        left: 50%;
        top: -$seatstack-height;
        z-index: 1;
    }

    @include mq($seatstack-bp) {
        top: $seatstack-height
    }

}

.seatstack__totals {
    position: absolute;
    font-size: 16px;
    line-height: 24px;
    display: none;
    right: 20px;
    top: -30px;
    @include mq($seatstack-bp) {
        display: block;
    }
}

.seatstack__results {
    display: none;
    position: absolute;
    top: $seatstack-height-small + $seatstack-top;
    line-height: 24px;
    font-size: 12px;
    @include mq($seatstack-bp) {
        top: $seatstack-height + $seatstack-top;
    }
    right: 0;
}

.seatstack__bar {
    padding: 0;
    list-style-type: none;
    margin-bottom: 24px;
    background-color: #ddd;
    height: $seatstack-height;

    &.seatstack__two-party {
        background: none;
        margin: 0;

        height: $seatstack-2PP-height;

        li {
            float: none;
            height: 50%;
            margin-bottom: 20px;
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
            clear: both;
        }

        li:nth-child(2){
            font-size: 18px;
        }

        li:first-child{
        }


        .seatstack-party-bar {
            height: $seatstack-2PP-bar-height;
            width: 80%;

            background-color: #eaeaea;
            margin: 10px 0;
            display: block;
            float: left;
            .seatstack-party-bar-inner {
                height: 100%;
                display: block;
                float: left;
            }
        }

        .seatstack-party-seats {
            top: 50%;
            position: relative;
            transform: translateY(-50%);
            font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            font-size: 20px;
            width: auto;
            display: block;
            font-weight: normal;
            float: left;
            margin-left: 20px;
            @include mq($until: desktop) {
                font-size: 14px;
            }
        }

        .seatstack-party-name {
            text-align: right;
            width: 20%;
            position: relative;
            float: left;
            display: block;
            height: 100%;
            vertical-align: middle;

            h4 {
                font-size: 20px;
                position: relative;
                margin: 0 100px 0 auto;
                font-weight: 500;
                line-height: 80px;


            }
            .sprite {
                position: absolute;
                right: 10px;
                top: -5px;
            }

            @include mq($until: desktop) {
                h4 {
                    margin: 0;
                    position: absolute;
                    bottom: 0;
                    line-height: 12px;
                    text-align: center;
                    font-size: 12px;
                    width: 100%;
                    right: 10px;
                }

                .sprite {
                    height: 40px;
                }
            }
        }
    }

    @include mq($seatstack-bp) {
        height: $seatstack-height;
        margin-bottom: 40px;
    }

    li, li span a {
        font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: bold;
        font-weight: 600;
        font-size: 14px;
    }

    @each $party, $color in $partyColors {
        li[data-partyname='#{$party}'],
        li[data-partyname='#{$party}'] span a {
            color: $color;
        }
    }

    li {
        float: left;
        height: 100%;
        text-align: center;
        position: relative;
    }
}

$seatstack-list-lineheight: 24px;

.seatstack-list {
    width: calc(50% - 5px);
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
    float: left;

    &.seatstack-list--2 {
        float: right;
    }
    @include mq($seatstack-bp) {
        width: calc(50% - 10px);
    }
    @include mq(desktop) {
        width: calc(50% - 20px);
    }
    @include mq($until: desktop) {
        margin-top: 20px;
    }
}
.seatstack-list__item {
    vertical-align: middle;
    height: 24px;
    line-height: 24px;
    border-bottom: 1px solid #f1f1f1;
    transition: background-color 50ms;

    @include mq($seatstack-bp) {
        height: 36px;
        line-height: 36px;
    }
    &.is-header,
    &:last-child {
        border-bottom: 0;
    }

    @include mq($seatstack-bp) {
        &[data-partyhover]:not(.is-header):hover {
            cursor: pointer;
            background-color: #f7f7f7;
            transition: none;
        }
    }
}

.seatstack-list__partybox {
  width: 8px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 2px;
  background-color: #b3b3b3;
}

.seatstack-list__party-short-name {
    display: none;
    margin-left: 12px;

    @include mq($until: $seatstack-bp) {
        display: inline;
        margin-left: 6px;   
    }
}

.seatstack-list__party-name {
    margin-left: 12px;

    @include mq($until: $seatstack-bp) {
        margin-left: 6px;
        display: none;
    }
}

.seatstack-list__gains,
.seatstack-list__losses,
.seatstack-list__seats {
    float: right;

    &.is-header {
        font-size: 11px;
        border-left: 0;
    }
}

.seatstack-list__gains,
.seatstack-list__losses {
    color: #aaa;
    width: 35px;
    border-left: 1px dotted #f1f1f1;
    text-align: right;

    display: none !important;
    @media (min-width: 370px) {
        display: inline-block !important;
    }
}


@media (max-width: 370px) {
    .seatstack-list__item.is-header {
        display: none;
    }
}

.seatstack-list__gains {
    padding-right: 6px;
}

.seatstack-list__seats {
    color: #333;
    font-weight: bold;
    padding-right: 6px;
}

#election, #byelection {
    .seatstack {
        border-bottom: none;

        .seatstack__totals {
            top: $seatstack-height + 50;
            right: auto;
        }

        @include mq($until: desktop) {
            margin-top: 20px;
            padding: 0;
        }
    }
    .seatstack__bar {
        margin-left: 0;
         li {
            font-size: 12px;
            overflow: visible;
            text-align: center;
            span {
                bottom: 100%;
                position: absolute;
            }
            &[data-partyname='alp'] {
                float: left;
            }
            
            &[data-partyname='alp'] span {
                left: 0;
                text-align: left;
                left: auto;
            }

            &[data-partyname='xen'] {
                float: left;
            }

            &[data-partyname='ca'] {
                float: left;
            }

            &[data-partyname='nxt'] {
                float: left;
            }

            &[data-partyname='grn'] {
                float: left;
            }

            &[data-partyname='ind'] {
                float: right;
            }

            &[data-partyname='onp'] {
                float: right;
            }

            &[data-partyname='phon'] {
                float: right;
            }


            &[data-partyname='kap'] {
                float: right;
            }

            &[data-partyname='lp'] {
                float: right;
            }

            &[data-partyname='lib'] {
                float: right;
            }
            &[data-partyname='nat'] {
                float: right;
            }
            &[data-partyname='np'] {
                float: right;
            }
            &[data-partyname='lnp'] {
                float: right;
            }

        }
    }
    .seatstack-list__partybox[data-partyname='pup'] {
        background-color: #b3b3b3;
    }
}

.red_swallow {
    padding-left: 20px;
    color: #a9a9aa;
    font-weight: 200;
    font-size: 14px;
    line-height: 20px;
    font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#electoral_overview {
    display: none;
}
